{% extends "base.html" %}
{% block page_title %}Grub Items | gruber.ga{% endblock %}
{% block og_title %}Grub Items | gruber.ga{% endblock og_title %}


{% block meta_description %}Collect and share products{% endblock %}
{% block og_meta_description %}Collect and share products{%endblock%}


{% block og_url %}gruber.ga{% endblock %}

{% block site_css %}
	<link href="{{ static('skroutzbasket/css/public/home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}

	<div class="container">
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id='csrf'>
		<div class="row">
			<div class="col-lg-12 wrp">
				<p class="text-center">Insert item to list:</p>
				<div class="form-group">
					<input type="text" class="form-control" id="link">
				</div>
			</div>
		</div>
		<div class="row wrp">
			<div class="col-lg-4 col-md-4 col-sm-4 text-left">
				<div class="sum_wrp">Sum:<span id="sum">0</span>€</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 text-center">
				<div class="btn btn-warning" id="share_btn" data-toggle="modal" data-target="#share_mdl">
					<i class="fa fa-share"></i> Share List
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 text-right">
				<div class="btn btn-success " id="add"><i class="fa fa-plus"></i> Add item</div>
			</div>

		</div>
		<hr>
		<div class="row">
			<div class="col-lg-12 items_wrp" id="item_list">
				<h5>Your items</h5>
			</div>
		</div>
	</div>




	<!-- The Modal -->
	<div class="modal fade" id="share_mdl">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header orange">
					<h4 class="modal-title">Sharing the list</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					Anyone with this link can view the curent list.
					
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>

{% endblock %}


{% block site_js %}
	<script src="{{ static('skroutzbasket/js/public/home.js') }}"></script>
{% endblock %}