{% extends "base.html" %}
{% block page_title %}Grub Items | gruber.ga{% endblock %}
{% block og_title %}Grub Items | gruber.ga{% endblock og_title %}


{% block meta_description %}Collect and share products{% endblock %}
{% block og_meta_description %}Collect and share products{%endblock%}


{% block og_url %}gruber.ga{% endblock %}

{% block site_css %}
	<link href="{{ static('skroutzbasket/css/public/home.css') }}" rel="stylesheet" type="text/css">
	{# <link href="{{ static('skroutzbasket/css/public/list.css') }}" rel="stylesheet" type="text/css"> #}
{% endblock %}


{% block content %}

	<div class="container">
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id='csrf'>
		<input type="hidden" id="list_name" value="{{items_list.name}}">
		<div class="row">
			<div class="col-lg-12 wrp">
				<br>
				<p class="text-center">Insert item to list:</p>
				<div class="form-group">
					<input type="text" class="form-control" id="link">
				</div>
			</div>
		</div>
		<div class="row wrp">
			<div class="col-lg-4 col-md-4 col-sm-4 text-left">
				<div class="sum_wrp">Sum:<span id="sum">{{total_sum}}</span>€</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 text-center">
				<div class="btn btn-warning" id="share_btn" data-toggle="modal" data-target="#share_mdl">
					<i class="fa fa-share"></i> Share List
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 text-right">
				<div class="btn btn-success " id="add"><i class="fa fa-plus"></i> Add item</div>
			</div>

		</div>
		<hr>
		<div class="row">
			<div class="col-lg-12 items_wrp" id="item_list">
				<h5>Your items</h5>
				{% for item in items_list.items.all() %}
					<div class='item'>
						<div>
							<a href='{{item.link}}'>{{item.title}}</a>
						</div>
						<img src='{{item.image_link}}'>
						<div>{{item.price}}€</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="modal fade" id="share_mdl">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header orange">
					<h4 class="modal-title">Sharing the list</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body text-center">
					
					<div class='alert alert-info'>Link for viewing list only</div>
					<img class="share_loading" src="{{ static('skroutzbasket/img/small_loading.gif') }}">
					<a id="the_link" href=""></a>
					<hr>
					<div class="alert alert-danger">
						Link for viewing AND editing. <br>
						Attention anyone with this link can add items to list
					</div>
					<img class="token_loading" src="{{ static('skroutzbasket/img/small_loading.gif') }}">
					<a id="the_token_link" href=""></a>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>

{% endblock %}


{% block site_js %}
	<script src="{{ static('skroutzbasket/js/public/home.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#the_link').html(window.location.href.replace(/&?token=([^&]$|[^&]*)/i, ""))
			$('#the_token_link').html(window.location.href)

			// Due to common home.js file, disable check only at list
			if ($_GET["token"] == "undefined" || $_GET["token"] == undefined){
				$_GET["token"] = '';
			}

			if ($_GET["token"].length < 17) {
				$('#link').attr('disabled', 'true').attr('placeholder',"You can't add new items.");
			}


		});
	</script>
{% endblock %}