<!doctype html>
<html lang="el" itemscope itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>{% block page_title %}{% endblock %}</title>
        <meta name="author" content="Stefanos I. Tsaklidis">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        {% block og_image %}{% endblock %}
        <meta property="og:title" content="{% block og_title %}{% endblock og_title %}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{% block og_url %}{% endblock %}" />        
        <meta property="og:description" content="{% block og_meta_description %}{%endblock%}" />
        <meta property="og:image" content="http://gruber.ga/static/skroutzbasket/img/share.png"/>

        <link href="{{ static('skroutzbasket/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ static('skroutzbasket/css/base.css') }}" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="shortcut icon" type="image/icon" href="{{ static('skroutzbasket/img/favicon.ico') }}?ver=2.0"/>

        {#<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->#}
        {% block site_css %}
        {% endblock %}

        {% block extra_head %}{% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115382176-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-115382176-1');
        </script>



    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 before_menu">
                    
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-light bg-faded">
            <!-- Brand -->
            <a class="navbar-brand" href="#">GrabItems</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">

                    {# <li class="nav-item">
                        <a class="nav-link" href="#">...</a>
                    </li> #}

                </ul>
            </div>
        </nav> 
        <div id="outer-wrapper" class="container-fluid">
            {% block content %}{% endblock %}
        </div>

        {# JS libs #}
        <script src="{{ static('skroutzbasket/libs/jquery/jquery.min.js') }}"></script>
        <script src="{{ static('skroutzbasket/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        {% block site_js %}
        {% endblock %}

        <script type="text/javascript">
          WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400&subset=greek,latin', ] }
          };
          (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
          })(); </script>

    </body>
</html>
